<html>
<head>
<title>Django AJAX Scramble Test</title>
{% load staticfiles %}
{% csrf_token %}
<link type="text/css" rel="stylesheet" href="{% static "bootstrap.css" %}">
<link type="text/css" rel="stylesheet" href="{% static "style.css" %}">

<!-- define puzzle -->
<script type="text/javascript">
var puzzle = "{{puzzle}}";
</script>

</head>
<body>
  <nav>
    <div class="container-fluid">
      <h1 class="logo"><span class="wovaan">Wovaan</span><span class="timer">Timer&nbsp;&nbsp;</span></h1>
      <h1 class="logo">
        <span class="type accent-on-hover">(3x3x3)</span>
        <span class="types accent-on-hover">[3x3x3]</span>
        <span class="types accent-on-hover">[4x4x4]</span>
        <span class="types accent-on-hover">[5x5x5]</span>
        <span class="types accent-on-hover">[other]</span>
      </h1>
      <h1 class="logo stats accent-on-hover" style="float:right;" href="/timer/getstats">Stats</h1>
    </div>
  </nav>
  <div class="main">
    <div class="centered">
      <br/>
      <h1 class="time" id="timer">Hold space</h1>
      <p class="scramble" id="scramble">{{ initialScramble }}</p>
    </div>
    <div class="past-times">
      <h1> Past Times </h1>
      <ul class="times-list">

      </ul>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{% static "init.js" %}"></script>
  <script src="{% static "timer.js" %}"></script>
  <script src="{% static "db.js" %}"></script>
  <script src="{% static "puzzles.js" %}"></script>
</body>
</html>
